
* {
    padding: 0;
    margin: 0;
}

#title {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}


#nav_section {
    background-color: black;
    width: 100%;
    height: auto;
    position: relative;
    top: 1px;
}

ul.navigation {
    text-align: left;
}

li.navigation {
    display: inline-flex;
    padding: 30px;
    color: #009900;
    font-size: 1.2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #00a0c6;
    text-decoration: none;
    cursor: pointer;
}




#first_block {
    background-color: rgb(248, 245, 33);
    width: 100%;
    height: 660px;
}

.first1 {
    font-size: 6.5rem;
    color: #009900;
    font-weight: bold;
    margin-left: 130px;
    position: relative;
    top: 200px;
}

.first2 {
    font-size: 2.5rem;
    font-style: italic;
    margin-left: 130px;
    position: relative;
    top: 200px;
}

#second_block {
    background-color: rgb(0, 119, 216);
    width: 100%;
    height: 350px;
}

#third_block {
    background-color: rgb(209, 0, 216);
    width: 100%;
    height: 350px;
}

#fourth_block {
    background-color: rgb(0, 216, 144);
    width: 100%;
    height: 350px;
}

#fifth_block {
    background-color: rgb(158, 216, 0);
    width: 100%;
    height: 350px;
}

#sixth_block {
    background-color: rgb(158, 216, 0);
    width: 100%;
    height: 350px;
}

#seventh_block {
    background-color: rgb(158, 216, 0);
    width: 100%;
    height: 350px;
}

#eighth_block {
    background-color: rgb(158, 216, 0);
    width: 100%;
    height: 350px;
}

#ninth_block {
    background-color: rgb(158, 216, 0);
    width: 100%;
    height: 350px;
}

#tenth_block {
    background-color: aqua;
    width: 100%;
    height: 350px;
}

.second1, .third1, .fourth1, .fifth1, .sixth1, .seventh1, .eighth1, .ninth1, .tenth1 {
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
    margin-left: 130px;
    position: relative;
    top: 90px ;
}

.second2, .third2, .fourth2, .fifth2, .sixth2, .seventh2, .eighth2, .ninth2, .tenth2 {
    font-size: 2.5rem;
    font-style: italic;
    margin-left: 130px;
    position: relative;
    top: 90px;
}